<% if @game.current_turn == @game.player_1 %>
<h2><center><%= @game.player_1.name %> attacked <%= @game.player_2.name %></center></h2>
<% else %>
<h2><center><%= @game.player_2.name %> attacked <%= @game.player_1.name %></center></h2>
<% end %>

<center><form action="/switch-turns" method="post">
  <input type="submit" value="OK">
  </form></center>